@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap");

/* utility */
:root {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Noto Sans KR", sans-serif;
}
body {
  background-color: #eae8fe;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 28px;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  cursor: pointer;
}

.ir_wa {
  display: block;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
}

/* components */
/* 헤더, 로고 */
header {
  margin-bottom: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colacola_logo img {
  display: block;
  width: 386px;
  height: 164px;
}

/* 음료 종류 고르기 */
.selectitem_art,
.acquireditems_art {
  width: 360px;
  height: 545px;
  background-color: white;
  padding: 31px 27px;
  margin-bottom: 50px;
}

.selectitem_itemul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-bottom: 20px;
}
.selectitem_itemul > li {
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  width: 94px;
  height: 130px;
  overflow: hidden;
}

.selectitem_itemul .btn-item {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  padding: 9px 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 11px;
}

.selectitem_itemul > li:active {
  outline: 3px solid #6327fe;
}

.selectitem_itemul .btn-item .img-item {
  width: 36px;
  height: 65px;
}

.selectitem_itemul .btn-item .txt-price {
  padding: 3px 10px;
  color: white;
  background-color: #6327fe;
  border-radius: 50px;
}

/* 음료 가격 계산하기 */
.selectitem_pricecalculate {
  width: 100%;
  height: 285px;
  display: grid;
  grid-template-rows: 33px 33px 106px;
  grid-template-columns: 200px 94px;
  gap: 12px;
}
.selectitem_pricecalculate * {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
}
.selectitem_pricecalculate button {
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.selectitem_pricecalculate button:active {
  box-shadow: 0px 0px 5px 2px #eae8fe inset;
}
.pricecalculate_balance {
  background-color: #eae8fe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  border-radius: 5px;
}
.pricecalculate_balance_number::after {
  content: " 원";
}
.pricecalculate_input {
  border: 1.5px solid #bdbdbd;
  border-radius: 5px;
  padding: 6px 10px;
}
.pricecalculate_input:focus {
  outline: none;
}
.pricecalculate_input::placeholder {
  line-height: 1.8;
}
.pricecalculate_input::-webkit-outer-spin-button,
.pricecalculate_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.pricecalculate_ordereditem {
  padding: 12px 18px 12px 12px;
  background-color: #eae8fe;
  border: 1.5px solid #bdbdbd;
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}
.pricecalculate_ordereditem::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.pricecalculate_ordereditem::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-clip: padding-box;
  border: 1px solid transparent;
  background-color: white;
}
.pricecalculate_ordereditem::-webkit-scrollbar-track {
  background-color: transparent;
}
.pricecalculate_ordereditem li > button {
  width: 170px;
  height: 46px;
  background-color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 10px;
  font-family: inherit;
}
.pricecalculate_ordereditem .img-item {
  display: flex;
  align-items: center;
  width: 18px;
  height: 33px;
  margin-right: 10px;
}
.pricecalculate_ordereditem .txt-item {
  font-size: 9px;
}

.pricecalculate_ordereditem li + li {
  margin-top: 6px;
}
.num-counter {
  width: 30px;
  height: 30px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricecalculate_orderbutton {
  background-color: #6327fe;
  color: white;
}

/* 소지금, 획득한 음료, 총금액 */
.acquireditems_art {
  background-color: transparent;
  padding: 0;
}
.walletmoney_div {
  width: 100%;
  height: 50px;
  padding: 9px 27px;
  background-color: white;
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.walletmoney_label {
  width: 306px;
  border-radius: 5px;
  padding: 6px 10px;
  background-color: #eae8fe;
  display: flex;
  align-items: center;
}
.walletmoney_label::after {
  content: "원";
  padding-left: 5px;
  font-weight: bold;
}

#walletmoney_input {
  width: 220px;
  border: none;
  font-size: 14px;
  text-align: right;
  font-family: inherit;
  background-color: transparent;
  margin-bottom: 1.5px;
  font-weight: bold;
}
#walletmoney_input:focus {
  outline: none;
}
#walletmoney_input::placeholder {
  font-weight: 500;
}
#walletmoney_input::-webkit-outer-spin-button,
#walletmoney_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.acquireditems_wholecounts {
  height: 467px;
  padding: 9px 27px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.acquireditems_wholecounts h3 {
  margin: 20px 68px;
}

.acquireditems_wholecounts_drinks {
  width: 306px;
  height: 364px;
  border-radius: 5px;
  background-color: #eae8fe;
  padding: 12px 12px 12px 12px;
}
.acquireditems_wholecounts_drinks_ul {
  overflow-x: hidden;
  overflow-y: auto;
}

.acquireditems_wholecounts_drinks_ul li > button {
  font-family: inherit;
  width: 265px;
  height: 46px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  margin: 5px;
}
.acquireditems_wholecounts_drinks_ul .img-item {
  display: flex;
  align-items: center;
  width: 18px;
  height: 33px;
  margin-right: 10px;
}
.acquireditems_wholecounts_drinks_ul li + li {
  margin-top: 6px;
}

.acquireditems_wholecounts h4 {
  margin-top: 8px;
  font-size: 12px;
  margin-left: auto;
}
.acquireditems_wholecounts h4 span::after {
  content: " 원";
}

/* soldout */
.soldout {
  pointer-events: none;
}
.soldout::before {
  content: "";
  position: absolute;
  border-radius: 10px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: no-repeat center/60px 46px url(../images/Sold-out.png)
    rgba(0, 0, 0, 0.8);
}

/* 반응형 디자인 */
@media screen and (max-width: 360px) {
  body {
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
  }
  main {
    /* 스크롤바 영역(26px)패딩으로 상쇄 */
    padding-left: 30px;
    flex-wrap: wrap;
  }
  .selectitem_art {
    align-content: space-around;
    padding-bottom: 0px;
    margin: 0;
  }
  .acquireditems_art {
    padding: 0;
    bottom: 0;
  }
  .walletmoney_div {
    padding-top: 0;
    margin-bottom: 0;
  }
}

/* 모바일화면에서 스크롤 기능은 살리면서 스크롤바 영역은 감추는법??? 안먹힘...*/
/* body{
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
} */
/* ::-webkit-scrollbar:vertical {
  width: none;
} */
